### 최근 10,000개 데이터를 수집하여 seoul_real_estate.csv에 저장하기

In [1]:
# 필요한 라이브러리
import requests
import json
import pandas as pd

# 인증키 URL
API_KEY = '6a4e4a656d716f74363061586f7967'

def main():
  data = pd.DataFrame()
  for i in range(1, 30):
    # tbLnOpendataRtmsV 데이터세트의 최근 1000*11 데이터 요청
    # 1 -> 1, 1000 / 2 -> 1001, 2000 / 3 -> 2001, 3000
    url = 'http://openapi.seoul.go.kr:8088/{}/json/tbLnOpendataRtmsV/{}/{}/'.format(API_KEY, 1 + ((i - 1)) * 1000 , i * 1000)
    req = requests.get(url)
    content = req.json()
    con = content['tbLnOpendataRtmsV']['row']
    result = pd.DataFrame(con)
    data = pd.concat([data, result])

  data = data.reset_index(drop=True)
  data['DEAL_YMD'] = pd.to_datetime(data['DEAL_YMD'], format=('%Y%m%d'))
  data.to_csv('seoul3_real_estate_1000.csv', index=False)

if __name__ == '__main__':
  main()

In [2]:
# 받아온 데이터 불러오기
df = pd.read_csv('seoul3_real_estate_1000.csv')
df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11215,광진구,10300,구의동,1.0,대지,0198,0005,강변아파트,...,16000,51.88,67.06,2.0,NaN,NaN,2004.0,오피스텔,직거래,NaN
1,2024,11590,동작구,10800,대방동,1.0,대지,0503,0000,주공2,...,90000,59.97,0.00,7.0,NaN,NaN,1995.0,아파트,중개거래,서울 동작구
2,2024,11620,관악구,10300,남현동,1.0,대지,1136,0000,남현동한일유앤아이,...,68500,84.99,0.00,2.0,NaN,NaN,2005.0,아파트,중개거래,서울 관악구
3,2024,11440,마포구,12500,성산동,1.0,대지,0620,0002,펠리체,...,38000,50.75,30.00,4.0,NaN,NaN,2011.0,연립다세대,중개거래,서울 마포구
4,2024,11500,강서구,10300,화곡동,1.0,대지,0073,0073,VILL73,...,23000,20.36,18.00,3.0,NaN,NaN,2021.0,연립다세대,직거래,NaN

In [3]:
df.shape

(29000, 21)