### 서울시 부동산 실거래가 정보

In [2]:
# 필요한 라이브러리 불러오기
import requests
import json
import pandas as pd

In [3]:
# API_KEY
API_KEY = '6a4e4a656d716f74363061586f7967'

In [ ]:
# 2023 영등포구(11560) 데이터 세트
url = f'http://openapi.seoul.go.kr:8088/{API_KEY}/json/tbLnOpendataRtmsV/1/100/2023/11560'
req = requests.get(url)
content = req.json()
content

In [5]:
# 받아온 형태 딕셔너리
type(content)

dict

In [11]:
content['tbLnOpendataRtmsV'].keys()

dict_keys(['list_total_count', 'RESULT', 'row'])

In [15]:
content['tbLnOpendataRtmsV']['row'][99]

{'ACC_YEAR': '2023',
 'SGG_CD': '11560',
 'SGG_NM': '영등포구',
 'BJDONG_CD': '12600',
 'BJDONG_NM': '양평동2가',
 'LAND_GBN': '1',
 'LAND_GBN_NM': '대지',
 'BONBEON': '0022',
 'BUBEON': '0001',
 'BLDG_NM': '스카이시티',
 'DEAL_YMD': '20231204',
 'OBJ_AMT': '11350',
 'BLDG_AREA': 18.18,
 'TOT_AREA': 27.87,
 'FLOOR': 9.0,
 'RIGHT_GBN': '',
 'CNTL_YMD': '',
 'BUILD_YEAR': '2014',
 'HOUSE_TYPE': '오피스텔',
 'REQ_GBN': '중개거래',
 'RDEALER_LAWDNM': '서울 영등포구'}

In [16]:
len(content['tbLnOpendataRtmsV']['row'])

100

In [17]:
# 영등포구 2023년 실거래가 데이터 100개 정보를 dataframe으로 만들고 확인
con = content['tbLnOpendataRtmsV']['row']
result = pd.DataFrame(con)
result.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2023,11560,영등포구,11000,여의도동,1,대지,0047,0000,여의도자이,...,392000,210.38,0.00,21.0,,,2008,아파트,중개거래,서울 영등포구
1,2023,11560,영등포구,13300,대림동,1,대지,0946,0001,대림현대,...,57900,59.76,0.00,4.0,,,1999,아파트,중개거래,서울 영등포구
2,2023,11560,영등포구,12600,양평동2가,1,대지,0043,0011,디에이원파크,...,23000,29.56,40.66,13.0,,20231229,2017,오피스텔,직거래,
3,2023,11560,영등포구,12100,문래동3가,,,,,,...,114000,26.68,61.80,0.0,,20231229,1942,단독다가구,중개거래,서울 영등포구
4,2023,11560,영등포구,11700,당산동,1,대지,0121,0003,나온타워,...,12000,15.38,6.23,4.0,,,2013,연립다세대,직거래,

In [18]:
# 계약일 확인하기
result['DEAL_YMD'].head()

0    20231229
1    20231229
2    20231228
3    20231227
4    20231227
Name: DEAL_YMD, dtype: object

### 실습과제-1
1. 자치구 코드(시군구 코드)는 '서울시 건축물대장 법정동 코드정보'에서 확인
2. '서울시 건축물대장 법정도 코드정보' Open API를 활용하여 30개 데이터를 가져와서
3. Pandas dataFrame으로 변환하여 출력해보기
4. '영등포구' 법정도 코드 번호를 확인하기

### LAB 1: 서울시 부동산 실거래가 데이터 가져오기
- 서울 열린 데이터 광장 데이터는 최대 1000개 데이터만 가져올 수 있음

In [19]:
# 실행 시점 기준 1~1000개 데이터를 수집
import requests
import json
import pandas as pd

# API_KEY
API_KEY = '6a4e4a656d716f74363061586f7967'

In [20]:
def main():
  # tbLnOpendataRtmsV 데이터세트의 최근 1000 * 11 데이터 요청
  url = f'http://openapi.seoul.go.kr:8088/{API_KEY}/json/tbLnOpendataRtmsV/1/1000/'
  print(url)
  req = requests.get(url)
  content = req.json()
  con = content['tbLnOpendataRtmsV']['row']
  data = pd.DataFrame(con)

  data = data.reset_index(drop=True)
  # DEAL_YMD:계약일
  data['DEAL_YMD'] = pd.to_datetime(data['DEAL_YMD'], format=('%Y%m%d'))
  data.to_csv('seoul_real_estate_1000.csv', index=False)

  print(data.head())
  print(len(data), type(data))

In [21]:
if __name__ == '__main__':
  main()

http://openapi.seoul.go.kr:8088/6a4e4a656d716f74363061586f7967/json/tbLnOpendataRtmsV/1/1000/
  ACC_YEAR SGG_CD SGG_NM BJDONG_CD BJDONG_NM LAND_GBN LAND_GBN_NM BONBEON  \
0     2024  11215    광진구     10300       구의동        1          대지    0198
1     2024  11590    동작구     10800       대방동        1          대지    0503
2     2024  11620    관악구     10300       남현동        1          대지    1136
3     2024  11440    마포구     12500       성산동        1          대지    0620
4     2024  11500    강서구     10300       화곡동        1          대지    0073

  BUBEON    BLDG_NM  ... OBJ_AMT BLDG_AREA  TOT_AREA  FLOOR  RIGHT_GBN  \
0   0005      강변아파트  ...   16000     51.88     67.06    2.0
1   0000        주공2  ...   90000     59.97      0.00    7.0
2   0000  남현동한일유앤아이  ...   68500     84.99      0.00    2.0
3   0002        펠리체  ...   38000     50.75     30.00    4.0
4   0073     VILL73  ...   23000     20.36     18.00    3.0

  CNTL_YMD BUILD_YEAR HOUSE_TYPE REQ_GBN RDEALER_LAWDNM
0                2004       오피스텔     직거래
1                1995        아파트    중개거래         서울 동작구
2                2005        아파트    중개거래         서울 관악구
3                2011      연립다세대    중개거래         서울 마포구
4                2021      연립다세대     직거래

[5 rows x 21 columns]
1000 <class 'pandas.core.frame.DataFrame'>

In [22]:
df = pd.read_csv('seoul_real_estate_1000.csv')
df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11215,광진구,10300,구의동,1.0,대지,198.0,5.0,강변아파트,...,16000,51.88,67.06,2.0,NaN,NaN,2004.0,오피스텔,직거래,NaN
1,2024,11590,동작구,10800,대방동,1.0,대지,503.0,0.0,주공2,...,90000,59.97,0.00,7.0,NaN,NaN,1995.0,아파트,중개거래,서울 동작구
2,2024,11620,관악구,10300,남현동,1.0,대지,1136.0,0.0,남현동한일유앤아이,...,68500,84.99,0.00,2.0,NaN,NaN,2005.0,아파트,중개거래,서울 관악구
3,2024,11440,마포구,12500,성산동,1.0,대지,620.0,2.0,펠리체,...,38000,50.75,30.00,4.0,NaN,NaN,2011.0,연립다세대,중개거래,서울 마포구
4,2024,11500,강서구,10300,화곡동,1.0,대지,73.0,73.0,VILL73,...,23000,20.36,18.00,3.0,NaN,NaN,2021.0,연립다세대,직거래,NaN